:root{
    --pink: #FF006E; 
    --original-orange: #FB5607;
    --orange: #fb5407be;
    --purple: #8338EC;
    --blue: #3A86FF;
    --gold: #FFBE0B;
    --white: #f8f8ff;
    --placeholder-white:rgba(255, 255, 255, 0.651);
}

*{
    font-family: 'Raleway', sans-serif;
    color: var(--white);
}

body{
    background-color: var(--pink);
}

.search-container{
    display: grid;
    justify-content: center;
    grid-auto-columns: 100%;
}

h1, h2{
    font-weight: 500;
}

#results-container h2{
    text-align: center;
    font-size: 1.5em;
}

button{
    border: none;
    background-color: var(--blue);
    font-family: inherit;
    cursor: pointer;
}

button:hover{
    background-color: lightgray;
}

#open-all-links{
    font-size: 1.1em;
    padding: 0.5em;
    justify-self: center;
}

#submit{
    background-color: transparent;
    font-size: 1.2em;
}

.hidden{
    display: none;
}

input{
    color: white;
    font-size: 1.2em;
    padding: 0.5em;
    width: 20em;
    border: none;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 2px;
}

input:focus{
    outline: none;
}

#results-container{
    display: grid;
    grid-template-rows: 5em 3em auto;
    grid-auto-columns: auto;
    width: 100%;
    gap: 1em;

    height: auto;

    background-color: var(--orange);
    border-radius: 4px;
}

#links-container{
    display: grid;
    width: 50%;
    height: auto;
    grid-template-columns: repeat(4, 8em);
    grid-auto-rows: 8em;
    gap: 1.2em;
    align-self: center;
    justify-self: center;
}

#overdrive-search{
    margin: 2em;
}

.overdrive-link{
    background-color: var(--purple);
    border: solid 5px var(--gold);
    border-radius: 3px;
    padding: 1px;
    width: 90%;
    height: 90%;
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;
    word-wrap: break-word;
    justify-content: center;
    align-content: center;
}

.overdrive-link div{
    align-self: center;
    justify-self: center;
}

.overdrive-link:hover{
    text-decoration: none;
    color: orange;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder-white);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.815);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.822);
  }


  .error{
      color: red;
  }